.categories-main-container {
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .product-categories {
    padding: 0 40px 15px 20px ;
   
        li {
            padding-top: 15px;
        }
    }
}
