.hamburger-container {
   height: 10px;
    .hamburger-icon{
        width: 40px;
    }
    .hamburger-links {
        display: block;
        font-size: 1.2rem;
        width: 100%;
        position: absolute;
        left: 0;
        padding: 50px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: transform .5s ease-in-out;

        li {
            padding-top: 20px;
        }
    }
}